.friendList {
  width: 500px;
  background-color: rgb(228, 226, 226);
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
  margin-bottom: 100px;
}

.item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
  width: 96%;
  /* height: 200px; */
}

/* ///////////////////////////////////////////// */

.name {
  margin: 0;
  /* color: red; */
}

.avatar {
  margin: 0 20px;
  height: 120px;
}

.status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: red;
}



.isOnline{
     background-color: green
}
